body{
    font-family: 'Roboto', sans-serif;
}
.shop-name{
    color: #FA804C;
    
}
.infinity-run{
    color: #363958;
   
}
.row img{
    width: 500px;
    
}
.casual-shoes img{
    width: 100px;
}